body {
  background-color: rgb(165, 184, 205);
}

nav {
  background-color: white;
}

nav a.active {
    color: var(--primary-light-blue);
}

.body_content{
    display: block;
    justify-self: center;
    /* width: 90%; */
    /* height: fit-content; */
    min-height: 700px; /* temporary */
    max-width: 1200px;
}

.footer {
  /* background-color: rgb(191, 165, 130); */
  background-color: #243848;
  color: white;
}
