body {
  /* background-image: url(background/background_night.jpg); */
  background-color: rgb(111, 111, 111); 
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  min-width: 400px;
}

/*global variables*/
:root{
  --step--2: clamp(0.6944rem, 0.4908rem + 1.0184vw, 1.28rem);
  --step--1: clamp(0.8333rem, 0.5667rem + 1.3333vw, 1.6rem);
  --step-0: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  --step-1: clamp(1.2rem, 0.7478rem + 2.2609vw, 2.5rem);
  --step-2: clamp(1.44rem, 0.8539rem + 2.9304vw, 3.125rem);
  --step-3: clamp(1.728rem, 0.9703rem + 3.7883vw, 3.9063rem);
  --step-4: clamp(2.0736rem, 1.0965rem + 4.8856vw, 4.8828rem);
  --step-5: clamp(2.4883rem, 1.2309rem + 6.2873vw, 6.1035rem);
}

nav{
  background-color: rgb(15, 15, 15);
  /* box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4); */
}

nav a {
  color: grey;
}

nav a.active {
  color: white;
}  

nav a:hover {
  background-color: var(--primary-light-grey);
}

nav logo {
  color: white;
}

.nav-dropdown{
  background-color: grey;
}

.nav-dropdown a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 10px 16px;
  display: block;
  animation: opac 1.0s;
}

@keyframes opac {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.nav-dropdown a:hover {
  background-color: #8ab8e9;
  transition: 0.3s;
}

.material-symbols-outlined {
  color: white;
}

/* -------------- */

.pic_viewport{
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  height: 750px;
  background-color: black;
}

.image_text{
  display: flex;
  align-self: center;
  max-width: 600px;
  min-width: 200px;;
}

.image_text p{
  font-size: var(--step-1);
  color: white;
  text-align: center;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.pic_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  overflow: auto;
  margin-inline: 5%;
  gap: 2%;
  }

  .image:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
  }

  .mobile_pic_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    overflow: auto;
    margin-inline: 5%;
    display: none;
    }
    
  .footer{
    position: relative;
    height: 200px;
    bottom: 0;
    left: 0;
    padding: 20px 0px;
    margin-top: 100px;
    background-color: #122f4d;
    color: white;
    text-align: center;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    padding-inline: 20%;
}

.copyright{
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 16px;
    transform: translateX(-50%);
}

/* Tablet-ish view */
  @media (max-width: 2100px){


    .pic_viewport{
      margin-top: 80px;
      flex-direction: column;
      height: fit-content;
      width: 100%;
    } 

    .image_div{
      max-height: 450px; 
      max-width: 90%;
      align-self: center;
      margin-top: 10px;
    }

    .image_text{
      max-width: none;
    }

    .image_text p{
      justify-self: center;
      /* font-size: 26px; */
    font-size: var(--step-0); 
      margin-inline: 5%;
    }

  }

  /* Mobile view */
@media (max-width: 600px) {

  .nav-items a{
    display: none;
}
  
  .pic_viewport{
    width: auto;
    padding: 0px;
    margin-inline: 0px;
    display: none;
  }

  .pic_list{
    flex-direction: column;
    height: auto;
    margin-top: 80px;
    display: none; 
  }

  .mobile_pic_list{
    display:flex;
    flex-direction: column;
    height: auto;
    margin-top: 80px;
    gap: 50px;
    
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #6c5f5f;
      text-align: center;
      color: white;
      font-size: 16px;
    }

    .imageContainer{
      position: relative;
      overflow: hidden;
    }

    .imageContainer:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }

    .image_mobile {
      width: 100%;
      height: auto;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform 0.6s; 
      border-radius: 10px;
    } 

    .overlay{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    .overlay p{
      margin-inline: 10%;
      /* font-size: 20px; */
      font-size: max(4vw, 20px);
    }
   

  .footer{
      height: 300px;
  }

  .footer_content{
      flex-direction: column;
  }

}
