body {
    background-color: white;
}


.contact_button{
    background-color: var(--primary-light-blue);
    color: white;
    border-radius: 5px;
    width: 120px;
    /* width: 58%; */
    aspect-ratio: 3/1;
    font-size: 16px;
    border: none;
    margin-inline:2%;

}

.contact_button a{
    text-decoration: none;
    color: white;
}

.contact_button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.resume_button{
    background-color: white;
    color: var(--primary-light-blue);
    border-radius: 5px;
    width: 120px;
    font-size: 16px;

    aspect-ratio: 3/1;
    border: 2px solid var(--primary-light-blue);
    margin-inline:2%;
}

.resume_button:hover{
    opacity: 0.6;
    cursor: pointer;
       /* background-color: var(--primary-light-blue);
    color: white;
    border: 2px solid var(--primary-light-blue); */
}

.div_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

nav {
    background: white;
}

.nav-items {
    display: flex;
}

nav a.active {
    color: var(--primary-light-blue);
}

nav a:hover {
    background-color: var(--lighter-blue);
}

nav logo {
    color: var(--primary-dark-grey);
}

.nav-dropdown {
    background-color: white;
}

.material-symbols-outlined {
    color: var(--primary-dark-grey);
}

.backcover {
    max-height: 500px;
    overflow: hidden;
}

.backcover img {
    width: 100%;
}

.div_me {
    display: flex;
    justify-content: center;
    padding-inline: 5%;
}
.div_pic{
    margin-right: 5%;
}
.div_pic img {
    /* position: absolute; */
    width: min(350px, 40vw);
    height: auto;
    /* height: min(350px, 40vw); */
    border-radius: 50%;
    border: 3px solid white;
    margin-top: -50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    justify-self: center;
}  


.div_content{
    justify-items: center;
    margin-left: 5%;
}

.title_text {
    margin-top: -10px;
    text-align: center;
    font-size: var(--step--1);
    font-weight: 500;
    font-style: italic;
    color: #565b61;
}
 

.title_me {
    text-align: center;
    margin-top: -180px;
    height: inherit;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: var(--step-3);
    margin-left: 5%;
}

.title_home {
    margin: 0;
    margin-top: 80px;
    color: #1b4571;
    font-weight: 500;
    font-size: var(--step-3);
}

.about_me_text{
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.4;
}

.body_content{
    display: block;
    margin-inline: auto;
    justify-self: center;
    width: 90%;
    height: fit-content;
    max-width: 1000px;
}

.cardviewTan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5%;
    padding-inline: 10%;

}

.cardviewWhite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5%;
    padding-inline: 10%;
    background-color: #E4DEDC;
    /*Tan*/
}

/*text on right - image on left*/
.text_on_left {
    /* margin-right: 5%; */
    font-size: var(--step-0);
    text-align: center;
}

/*text on left - image on right*/
.text_on_right {
    /* margin-right: 5%; */
    font-size: var(--step-0);
    text-align: center;
}

img.image {
    width: min(350px, 40vw);
    height: auto;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.div_image {
    margin-inline: 5%;
}

.footer {
    background-color: var(--primary-dark-blue);
    color: white;
}

.footer_image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 25px;
    animation: spinner 8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* Mobile view */
@media(max-width: 600px) {

    .div_content {
        margin: 0;
    }

    .title_text {
        display: none;
    }

    .nav-items a {
        display: none;
    }


    .title_me {
        font-size: var(--step-4);
        font-weight: 500;
        margin: 0;
    }

    .title_me p {
        text-align: center;
    }

    .div_me {
        flex-direction: column;
        align-items: center;
        padding-inline: 0;
        }
        
        .div_pic {
            margin-right: 0;
        }
        
        .div_pic img {
            width: 260px;
            height: 260px;
            margin-inline: 0%;
            margin-top: -125px;
        
        }

    .cardviewTan {
        flex-direction: column;
        padding: 10%;
    }

    .cardviewWhite {
        flex-direction: column-reverse;
        /* image on top, text on bottom */
        padding: 10%;
    }

    img.image {
        width: 100%;
        border-radius: 5%;
    }

    /* .text_on_right{
        margin-inline: 5%;
    }
    
    .text_on_left{
        margin-inline: 5%; 
    } */

    .text_on_right p {
        font-size: var(--step-1);
    }

    .text_on_left p {
        font-size: var(--step-1);
    }

}
