@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Questrial', sans-serif;
    margin: 0;
    min-width: 400px;
    width: 100%;
    /* max-width: 1400px; */
}

:root {
    --step--2: clamp(0.6944rem, 0.4908rem + 1.0184vw, 1.28rem);
    --step--1: clamp(0.8333rem, 0.5667rem + 1.3333vw, 1.6rem);
    --step-0: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
    --step-1: clamp(1.2rem, 0.7478rem + 2.2609vw, 2.5rem);
    --step-2: clamp(1.44rem, 0.8539rem + 2.9304vw, 3.125rem);
    --step-3: clamp(1.728rem, 0.9703rem + 3.7883vw, 3.9063rem);
    --step-4: clamp(2.0736rem, 1.0965rem + 4.8856vw, 4.8828rem);
    --step-5: clamp(2.4883rem, 1.2309rem + 6.2873vw, 6.1035rem);

    /* global text size variables */
    --body-text-size: 24px;
    --body-title-size: 30px;
    --menu-text-size: 28px;
    --nav-text-size: 14px;
    --logo-size: 30px;

    /* colors */

    /* --primary-dark-grey: dimgray; */
    --primary-dark-grey: rgb(55, 55, 55);
    --primary-light-grey: #cacaca;
    --primary-dark-blue: #1b4571;
    --primary-light-blue: rgb(72, 133, 209);
    --lighter-blue: #8ab8e9;
}

.links {
    color: black;
}

.links:hover {
    color: var(--primary-light-blue);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    min-width: 375px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 1px 1px 4px rgba(119, 119, 119, 0.4);
}

.nav-items {
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--primary-dark-grey);
    height: inherit;   /* ?? */
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: var(--nav-text-size);
}

nav a.active {
    font-weight: 500;
}

nav a:hover {
    transition: 0.3s;
    transform: scale(1.14);
}

nav.nav_disappear {
  animation: nav_go_away 0.8s forwards;
}

@keyframes nav_go_away {
  0% {
    /* top: 10px; */
  }

  100% {
    top: -80px;
  }

}

nav.nav_appear {
  animation: nav_come_back 0.8s forwards;
}

@keyframes nav_come_back {
  0% {
    top: -80px;
  }

  100% {
    /* top: 10px; */
  }

}


nav logo {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: var(--logo-size);
}

.nav-dropdown {
    display: none;
    position: fixed;
    top: 52px;
    right: 0;
    float: right;
    min-width: 120px;
    border-radius: 0 0 0 5px;
    animation: kf_nav_expand 0.3s;
    z-index: 199;
    /* box-shadow: 0 1px 10px rgba(119, 119, 119, 0.4); */
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.nav-dropdown a {
    color: var(--primary-dark-grey);
}

@keyframes kf_nav_expand {
    0% {
        height: 0px;
    }

    100% {
        height: 150px;
    }
}


.nav-dropdown a {
    text-decoration: none;
    color: var(--primary-dark-grey);
    font-size: 14px;
    padding: 10px 16px;
    display: block;
    animation: kf_nav_opacity 1.0s;
}

@keyframes kf_nav_opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-dropdown a:hover {
    background-color: var(--primary-light-grey);
}

.nav-dropdown a.active {
  color: var(--primary-light-blue);
}

.material-symbols-outlined {
    display: none;
}

.divider_big {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-block: 40px;
}

.divider_small {
    width: 40%;
    border: none;
    border-top: 2px dashed rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 40px;
}


.footer {
    height: 200px;
    margin-top: 100px;
    text-align: center;
    padding: 20px 0px;
    position: relative;
}

.footer_content {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    max-width: 1200px;
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 16px;
    transform: translateX(-50%);
}

/* Mobile view */
@media (max-width: 600px) {

    .nav-items a {
        display: none;
    }

    .material-symbols-outlined {
        font-size: var(--menu-text-size);
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }

    .footer {
        height: 300px;
    }

    .footer_content {
        flex-direction: column;
    }

}
